body {
  background-color: #e9ecef;
  color: black;
  font-family: 'Harry Potter', sans-serif;
}

#title {
  text-align: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-top: 10px;
  margin: 30px;
}

#information {
  text-align: center;
  padding-top: 20px;
}

#start-button {
  text-align: center;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

#forms {
  background-color: white;
  padding-top: 10px;
  margin: 40px;
}

#Enter-first-name-text {
  margin: 10px;
}

.info-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

 .placeholder-box {
  width: 600px;
 }

 .filter-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }

 #form-button {
  background-color: #007bfe;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10%;
 }

 .selector {
  flex-grow: 1;
 }

 #filter-students-text {
  margin: 10px;
  font-size: 18px;
 }

 #all-btn {
  background-color: #6c757d;
  border: none;
  border-radius: 3px 0 0 3px;
  color: white;
  padding: 5px;
 }

 #Gryffindor-btn {
  background-color: #dd3444;
  border: none;
  color: white;
  padding: 5px;
 }

#Hufflepuff-btn {
  color: black;
  border: none;
  background-color: #ffc106;
  padding: 5px;
}

#Ravenclaw-btn {
  background-color: #007bfe;
  border: none;
  color: white;
  padding: 5px;
 }

 #Slytherin-btn {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 0 3px 3px 0;
 }

#student-board {
  background-color: white;
  display: flex;
  gap: 20px;
  padding: 25px;
}

#admited-students {
  border: 1px solid rgb(230, 230, 230);
  padding: 25px;
  text-align: center;
  width: 50%;
  border-radius: 5px;
}

#expelled-students {
  border: 1px solid rgb(230, 230, 230);
  padding: 25px;
  text-align: center;
  width: 50%;
  border-radius: 5px;
}

#students-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

#expelled-students-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
